<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="/user/top"></div>
<script th:src="@{/JS/script.js}"></script>
<body>
	<div clsss="container">
		<div class="card col-md-6 mx-auto">
			<div class="card-body" style="text-align: center;">
				<h1 style="color: red;padding:1.5vw">Congratulations!!</h1>
				<h3>You are Registered Successfully...</h3>
				<a class="bt" href="/productstore/user" style="background-color: orange;">Click here to Login</a>
			</div>
		</div>
	</div>
</body>
</html>