<html xmlns:th="http://www.thymeleaf.org">
<div></div>
<head>
	<link th:href='@{/CSS/login.css}' rel='stylesheet' />
	<link th:href='@{/CSS/style.css}' rel='stylesheet' />
	<link th:href='@{/CSS/bootstrap.min.css}' rel='stylesheet' />
</head>
<body class="bgi">
	<div class="dv">
		<table style="width: 98%;margin:0 auto">
			<tr>
				<td style="font-size: 2.2vw;color:white;font-weight:bold">Inventory Manager</td>
				<td align="center" style="font-size: 3.5vw;color:yellow;font-weight: bold;">
					<label>PRODUCT INVENTORY MANAGEMENT</label>
				</td>
				<td align="right"><a href="/productstore/inventory/logout" class="bt">Logout</a></td>
			</tr>
		</table>
	</div>
	<hr style="border: 1px solid green;">
</body>
</html>